@charset "UTF-8";

body { background-color: black; color: white;}
.spot1 { left: 40%; -webkit-animation: move 5s infinite;}
.spot2 { left: 60%; -webkit-animation: move2 5s infinite;}
.spotlight {
  position: absolute;
	width: 53px;
	height: 0px;
  border-top: 500px solid rgba(255,255,255,0.25);
  border-left: 40px solid transparent;
  border-bottom: 0px solid #575;
  border-right: 40px solid transparent;
  background-color: transparent;
  -webkit-transform-origin: 50% 100% 0;
  z-index: 0;
  /*-webkit-transition-timing: ease-in-out;*/
}

 @-webkit-keyframes move {
  0%  { 
    -webkit-transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
  }
}

 @-webkit-keyframes move2 {
  0%  { 
    -webkit-transform: rotate(-30deg);
  }
  50% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
  }
}

#text {
  position: absolute;
  left: 48%;
  top: 25%;
  z-index: 999;
  color: rgba(255,255,255,0.15);
}

